# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
/node_modules
/.pnp
.pnp.js

# Testing
/coverage

# Production
/build

# Misc
.DS_Store

# Environments
.env.development.local
.env.local
.env.production.local
.env.test.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Firebase 
.idea
**/node_modules/*
**/.firebaserc

# Firebase Patch 
.runtimeconfig.json
.firebase/
