.title {
  display: grid;
  place-items: center;
}

.title h2 {
  font-size: 1.5rem;
}
.title a {
  color: var(--primaryColor);
  text-decoration: none;
}

.error {
  color: var(--errorInfo);
}
.img-grid {
  display: grid;
  grid-gap: 40px;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 20px auto;
}

.img-wrap {
  height: 0;
  opacity: 0.8;
  overflow: hidden;
  padding: 50% 0;
  position: relative;
}

.img-wrap img {
  left: 0;
  max-width: 100%;
  min-height: 100%;
  min-width: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
}

.backdrop {
  background: rgba(0, 0, 0, 0.5);
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
}

.backdrop img {
  background: #fff;
  border: 3px solid #fff;
  box-shadow: 3px 5px 7px rgba(0, 0, 0, 0.5);
  display: block;
  margin: 60px auto;
  max-height: 80%;
  max-width: 60%;
}
