:root {
  --primary: #ea4aaa;
  --secondary: #24292e;
  --error: #d73a49;
}

/* base styles & title */
* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  color: var(--secondary);
  font-family: "SF Pro Display", -apple-system, "Helvetica Neue", sans-serif;
  font-size: 1.2rem;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  margin: 0 auto;
  max-width: 960px;
}

.title {
  display: grid;
  place-items: center;
}

.title h2 {
  font-size: 1.5rem;
}
.title a {
  color: var(--primary);
  text-decoration: none;
}

/* upload form styles */
form {
  margin: 30px auto 10px;
  text-align: center;
}
label input {
  height: 0;
  width: 0;
  opacity: 0;
}
label {
  border-radius: 50%;
  border: 1px solid var(--primary);
  color: var(--primary);
  display: block;
  font-size: 24px;
  font-weight: bold;
  height: 30px;
  line-height: 30px;
  margin: 10px auto;
  width: 30px;
}
label:hover {
  background: var(--primary);
  color: white;
}
.output {
  height: 60px;
  font-size: 0.8rem;
}
.error {
  color: var(--error);
}

/* image grid styles */
.img-grid {
  display: grid;
  grid-gap: 40px;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 20px auto;
}

.img-wrap {
  height: 0;
  opacity: 0.8;
  overflow: hidden;
  /* padding controls height, will always be perfectly square regardless of width */
  padding: 50% 0;
  position: relative;
}

.img-wrap img {
  left: 0;
  max-width: 100%;
  min-height: 100%;
  min-width: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
}

/* modal styles */
.backdrop {
  background: rgba(0, 0, 0, 0.5);
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
}

.backdrop img {
  background: #fff;
  border: 3px solid #fff;
  box-shadow: 3px 5px 7px rgba(0, 0, 0, 0.5);
  display: block;
  margin: 60px auto;
  max-height: 80%;
  max-width: 60%;
}
