:root {
  --primary: deeppink;
  --secondary: #4e4e4e;
  --error: tomato;
}

/* base styles & title */
* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  color: var(--secondary);
  font-family: "SF Pro Display", -apple-system, "Helvetica Neue", sans-serif;
  font-size: 1.2rem;
  text-rendering: optimizeLegibility;
}
.App {
  margin: 0 auto;
  max-width: 960px;
}
.title h1 {
  color: var(--primary);
  font-size: 2rem;
  font-weight: normal;
}
.title h2,
.title p {
  text-align: center;
}
.title h2 {
  margin-top: 60px;
  font-size: 3rem;
}

/* upload form styles */

/* progress bar styles */

/* image grid styles */

/* modal styles */
